
body {
    font-family: sans-serif;
}

.container {
    background-color: #fff;
    width: 80%;
    padding: 100px;
    padding-top: 10%;
    padding-bottom: 50%; /*marge en bas */
 }

body {
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    text-align: justify;
    background-color: rgb(51, 51, 51);
}

#rouge {
    color: rgb(163, 75, 75);
    font-weight: bold;
}

#ligne {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 8px;
}

h1 {
    padding-top: 20px;
    font-weight: normal;
    font-size: x-large;
}

ul li::marker {
  font-size: 24px;   
}

p {
    padding-top: 10px;
}

.espace {
    padding-bottom: 10px;
}
